*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: IRANSans, Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

#main-image {
  width: 100%;
  height: 60vh;
}

.icons:not(:last-child) {
  margin-right: 25px;
}

.description {
  background-color: black;
}
.parts {
  width: 100%;
  flex: 1;
}

.parts i {
  font-size: 30px !important;
}

.parts a {
  margin-bottom: 5px;
}

.part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  padding: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.part:hover {
  opacity: 0.9;
}

.card {
  width: 33.33%;
}

.view-site {
  padding: 0.5rem;
  background-color: blue;
  color: white;
  transition: all 0.5s ease;
}

.view-site:hover {
  background-color: white;
  color: blue;
}

.form-part {
  margin-bottom: 20px;
}

form button {
  width: 50%;
  margin-bottom: 50px;
}

.progress {
  margin: 15px 0;
}

.footer-a:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1200px) {
  #main-image {
    height: 25rem;
    width: 100%;
  }

  .card {
    width: 50%;
  }

  .part h3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 900px) {
  #main-image {
    height: 25rem;
    width: 100%;
  }

  .part h3 {
    font-size: 1.3rem;
  }

  .card {
    width: 50%;
  }

  .description h3 {
    font-size: 1.3rem;
  }

  .site-name {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .name-social h1 {
    font-size: 1.5rem;
  }

  .part {
    height: 100%;
    padding: 10px;
  }

  .card {
    width: 90%;
  }

  h1 {
    font-size: 1.5rem;
  }
}
